/*
Paleta de color utilizada para las tablas:
	https://coolors.co/4b7f52-7dd181-b6f9c9-e3fff0-f2f2f2
*/

/** {
	border: 1px solid black;
}*/

body {
	margin: 10px 10px 10px 10px;
	width: 100%-20px;
	font-family: 'Open Sans', Roboto, Sans-Serif;

	display: grid;
	grid-gap: 10px;
	grid-template-areas: 	'header header'
							'navbar navbar'
							'menu_option menu_option'
							'date_filter district_filter'
							'garbage_filter district_filter'
							'footer footer';
	grid-template-columns: 1fr 1fr;
}

.grid_element{
	padding: 10px;
}

header{
	grid-area: header;
	padding: 10px;
	background-color: #F2F2F2;
	border: 1px solid #4B7F52;
}

footer{
	grid-area: footer;
	padding: 10px;
	background-color: #F2F2F2;
	border: 1px solid #4B7F52;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

.date_filter{
	grid-area: date_filter;
	background-color: #F2F2F2;
	border: 1px solid #4B7F52;
}

.correct_date{
	color: black;
}

.incorrect_date{
	color: red;
}

.garbage_filter{
	grid-area:  garbage_filter;
	text-align: left;
	background-color: #F2F2F2;
	border: 1px solid #4B7F52;
}

.district_filter{
	grid-area:  district_filter;
	text-align: left;
	background-color: #F2F2F2;
	border: 1px solid #4B7F52;
}


.navbar {
	grid-area:  navbar;
	border: 1px solid #4B7F52;
	background-color: #F2F2F2;
	text-align: center;
	padding: 0px;
  	display: grid;
	grid-template-columns: repeat(6, 1fr);
  	grid-template-rows: 1fr;
}

.navbar a {
	padding: 12px;
	color: black;
	text-decoration: none;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar a:hover {
	background-color: #4B7F52;
    color: #ffffff;
}

.active {
	background-color: #7DD181;
}

.menu_option{
	grid-area:  menu_option;
	min-height:  400px;
	display: table-cell;
	text-align: center;
	background-color: #F2F2F2;
	border: 1px solid #4B7F52;
	overflow:auto;
	white-space: nowrap;
}

.donwload_file{
	display: inline-block;
	text-align: left;
}

.api{
	display: inline-block;
	text-align: left;
	white-space: normal;
}
.api .api_consult{
	border: 1px solid #4B7F52;
	background-color: #e3fff0;
	padding: 5px;
}

.help{
	display: inline-block;
	text-align: left;
	white-space: normal;
}

.garbage_graph{
	padding: 0;
}

#map{
	min-height:  400px;
}

.map_popup{
	max-height: 100px;
	overflow:  auto;
}

/* Estilo para la tabla */
table {
    overflow-x:auto;
    display: inline-block;
    font-size:  12px;
}

table, th, td {
	border-collapse: collapse;
    border: solid 1px white;
}

table .header{
    color: #ffffff;
    background-color: #4B7F52;
    text-align: center;
}
table .header th{
    width: 100px;
    maxwidth: 100px;
    minwidth: 100px;
}

table .data_per_year{
    color: #000000;
    background-color: #7DD181;
}
table .data_per_year th{
    text-align: center;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
table .data_per_year td{
    text-align: right;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

table .data_per_month{
    color: #000000;
    background-color: #B6F9C9;
}
table .data_per_month th{
    text-align: center;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
table .data_per_month td{
    text-align: right;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

table .data_per_day{
    color: #000000;
    background-color: #E3FFF0;
}
table .data_per_day th{
    text-align: right;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
table .data_per_day td{
    text-align: right;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

table tbody tr:hover {
    background-color: #F2F2F2;
}

table .hidden_row {
    display: none;
}


@media screen and (max-width:  750px){
	body{
		grid-template-areas: 	'header'
								'navbar'
								'menu_option'
								'date_filter'
								'garbage_filter'
								'district_filter'
								'footer';

		grid-template-columns: 1fr;
	}

	.navbar {
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-rows: 1fr 1fr;
  	}
}

@media screen and (max-width: 500px) {
	.navbar {
    	grid-template-columns: 1fr 1fr;
    	grid-template-rows: 1fr 1fr 1fr;
  	}
}

@media screen and (max-width: 250px) {
	.navbar {
    	grid-template-columns: 1fr;
    	grid-template-rows: repeat(6fr);
  	}
}
